<a routerLink="/addProduct">+Add Product</a>

<table class="main-table" border="1">
<thead>
  <tr>
    <th>Id</th>
  <th>Name</th>
  <th>Colour</th>
</tr>
</thead>
<tbody>
  <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.colour}}</td>
    <td (click)="deleteProduct(product.id)"><button class="btn btn-danger">DELETE</button></td>
    <td [routerLink] = "['/updateProduct',product.id]"><button class="btn btn-success">UPDATE</button></td>
  </tr>
</tbody>
</table>
