h1{
    color: pink
}
.body{
    background-image: url(http://paperlief.com/images/dark-wallpaper-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}