<!--The content below is only a placeholder and can be replaced.-->
<div class="body">
<h1>
    Welcome to {{ name }}! Learning Angular {{number}}
</h1>
<h2>SPA Family 2 </h2>

<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="family" >Family
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="todo" >Todo</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="template" >Template Form</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="model" >Model Form</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="searchfilter" >Auto Search</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="services" >Services</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="services2" >Services2</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="remoteService" >Remote Service</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="animation" >Animaton</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="eventBinding" >Event Binding</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="directive" >In Built Directive</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="customDirective" >Custom Directive</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="assignment" >Assignment</a>
        </li>
    </ul>
</nav>
  
<router-outlet></router-outlet>
</div>



